*{
  font-family: 'Courier New', Courier, monospace;
}

footer{
padding-left: 1rem;
padding-top: 1rem;
padding-right: 1rem;
padding-bottom: 1rem;
width: 100vw;

}

.navbar-nav {
  float: none;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.navbar-nav > li {
  display: inline-block;
  float: none;
}

.navbar-brand {
  margin-left: 5%;
  padding: 1.75rem;
}

.sign-image{

}



.about-text {
  font-size: 14pt;
  
}

.bottom-image-text{
  padding-right: .5rem;
  padding-left: .5rem;
}
